{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ profile.user.get_full_name }}{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
        <div class="card" >
            <div class="card-header bg-primary">
              {% trans 'Change Your Password' %}
            </div>
            <div class="card-body responsive-text-15">
                <form method="post" action="" enctype="multipart/form-data"> {% csrf_token %}
                    {{ form|crispy }}
                    <div class="buttons-container">
                        <div class="btn-group d-flex">
                            <button type="submit" class="btn btn-primary w-100 responsive-text-15">
                                <span class="fa fa-save"></span> {% trans 'Save' %}
                            </button>
                            <a href="{{ profile.get_absolute_url }}" class="btn btn-primary w-100 responsive-text-15">
                                <span class="fa fa-times"></span> {% trans 'Cancel' %}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}