{% load staticfiles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">
    <link class="google-fonts" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/main/main-top-navbar11.css"  />
    <link href="/static/css/main/main-sidebar.css-2.css" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/home/general-css-1210.css' %}" type="text/css" rel="stylesheet" />

    {#     google fonts#}
    <link rel="shortcut icon" href="/static/img/favicon/planet-icon-14828-Windows.ico" type="image/x-icon">
        {# this for pinterest sharing link#}
{#    <link rel="stylesheet" href="/static/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.css">#}

{#    <script type="text/javascript" src="{% static 'js/main/jquery-3.3.1.min.js' %}" ></script>#}
{#    <link href="{% static 'world-of-technology/world-of-technology-1.css' %}" type="text/css" rel="stylesheet"/>#}
    <link href="/static/css/home/responsive-css.-11123.css" type="text/css" rel="stylesheet" />
    <style>
        .options-links{ background-color:{{ options_links_bg_color}} }
        .notif-links{ background-color:{{ notif_links_bg_color}} }
        .users-links{ background-color:{{ users_links_bg_color}} }
        .msg-links{ background-color:{{ msg_links_bg_color}} }
    </style>
